flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex; 
    flex-wrap: -webkit-wrap;
    flex-wrap: -moz-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
}
vertflex{
    @extend flex;
    flex-direction: -webkit-column;
    flex-direction: -moz-column;
    flex-direction: -ms-column;
    flex-direction: column;
}
horiflex{
    @extend flex;
    flex-direction: -webkit-row;
    flex-direction: -moz-row;
    flex-direction: -ms-row;
    flex-direction: row;  
}