@import '_flex';
@import '_row';
@import '_column';
@import '_toppings';
@import '_radiobuttons';
@import '_checkbox';

.bordered{
    border: 1px black solid;
}

.body_container{
    min-height: 800px;
    max-height: 800px;
    width: 1220px;
    margin: 100px auto;
}

.pizza_view{
    min-height: 750px;
    max-height: 750px;
    margin: 20px 0px 20px 20px;
    width: 750px;
    float: left;
}

.right_column_view{
    min-height: 750px;
    max-height: 750px;
    margin: 20px 20px 20px 0px;
    width: 400px;
    float: right;
}

.default_pizza{
    display: block;
    width: 500px;
    min-height: 500px;
    max-height: 500px;
}

.center{
    margin: 0 auto;
}

.button{
    display: table;
    padding: 5px;
}

.pizza_view_button{
    font-size: 1.2em;
    margin: 45px auto 45px auto;
}
